/*  FLEXBOX */
header {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  line-height: 150%;
  margin: 0;
  padding: 0px;
  background-color: #000;
}

.fold {
  margin: 0;
  height: 96vh;
  background-color: #c4dee8;
  padding: 0px;
}


/* EVENT CARDS */



#social-energy {
  background-image: url(../assets/img/art/graff.jpg);
  background-color: #000,.5;
}

#gparty {
  background-image: url(../assets/img/events/420/gparty.jpg);
}

.event-cards {
}

.event-card {
  display: inline-block;
  width: 400px;
}

/* HOME LINKS*/

.ico-hm {
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: block;
}

/* SITE NAVIGATION */

.site-nav {
  margin: 0;
  height: 30px;
  text-align: center;
  max-width: 100vw;
  font-size: 10px;
  font-weight: 600;
  background: #000;
  letter-spacing: 1.2em;
  position: -webkit-sticky; /* safari */
  position: sticky;/* position settings */
  top: 0;
  bottom: 0;
}

ul {
  margin: 0;
}

.nav {
  margin: auto;
  text-align: center;
}

.nav li {
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.nav li a {
  text-decoration: none;
  color: #4a463e;
}

.nav li a:hover {
  color: #FFE093;
}

.nav-logo img {
  width: 25px;
  position: absolute;
  left: 5%;
  top: 3px;
  bottom: 3px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: justify;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #C22200;
  background-color: #656262;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* MAIN */

main {
  margin: 0;
  padding: 50px;
  background-color: #000;
}

#the-story, #musicians {
  margin: 0;
  padding: 50px;
  color: #FFE093;
  background-color: #01222E;
}

/* FOOTER */

footer {
  margin: auto;
  text-align: center;
  height: 100%;
  padding: 50px;
  background-color: #4a463e;
}

.ftr-logo {
  width: 100px;
}

.rights {
  font-size: 10px;
  color: #fff;
}

.ftr-soc-ico {
  margin: auto;
  width: 10%
}

.fbk-ico {
  width: 20px;
}

.insta-ico {
  width: 20px;
}

.ytb-ico {
  width: 20px;
}
